<div data-ng-controller="notesController">
  <div data-dummy-directive dummy-value="helloworld()"></div>
  <button data-ng-click="deleteAll()">Sacrifice All to the MonGOD</button></br>
  <div data-new-note-form></div>
  <div data-ng-repeat="note in notes">
    <p>
      <div data-ng-show="note.editing">
        <form name="noteform">
          <label data-ng-show="noteform.$invalid">Note can't be blank</label>
          <input required data-ng-model="note.noteBody"/>
          <button data-ng-disabled="noteform.$invalid" data-ng-click="saveNote(note)">Save Changes</button>
          <button data-ng-click="cancelEdit(note, noteform)">Cancel</button>
        </form>
      </div>

      <div data-ng-hide="note.editing">
        {{note.noteBody | sentencify}} 
        <button data-ng-click="editNote(note)">Edit Note</button>  
        <button data-ng-click="deleteNote(note)">Delete Note</button>
      </div>
    </p>
  </div>
</div>  
